<div class="session-container">
    <div class="description-header">
        CSS3 Animations
    </div>
    <div class="description-text">
        <div class="highlighted-text">An animation lets an element gradually change from one style to another.
        </div>
    </div>
    <br>
    Transitions - <span style="font-weight: bold">transition: property duration timing-function delay|initial|inherit;</span>
    <br>
    <br>
    <div class="highlighted-text">Width transition : you can select the type of the transition required , you can find
        all the types available for transitions at <a href="https://www.w3schools.com/cssref/css_animatable.asp">https://www.w3schools.com/cssref/css_animatable.asp</a>
    </div>
    <br>
    <div class="width-transition"></div>
    <br>
    <div class="font-transition">Font size transition</div>
    <br>
    <div class="highlighted-text">Keyframes</div>
    <br>
    <div class="keyframes"></div>
    <br>
    <div class="highlighted-text">Keyframes with delay of 2 seconds</div>
    <br>
    <div class="keyframes-delay"></div>
    <br>
</div>