<div class="col-md-12 session-header">
    <img class="css3-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/2000px-CSS3_logo_and_wordmark.svg.png" alt="">
    Tufin CSS Tech Session
</div>
<div class="row" style="height: 100vh">
    <div class="col-md-2 left-menu">
        <div class="sub-menu-item" routerLinkActive="selected-route" routerLink="playground">PLAYGROUND</div>
        <div class="sub-menu-item" routerLinkActive="selected-route" routerLink="styles">STYLES</div>
        <div class="sub-menu-item" routerLinkActive="selected-route" routerLink="box-model">BOX MODEL</div>
        <div class="sub-menu-item" routerLinkActive="selected-route" routerLink="measurements-units">MEASUREMENTS
            UNITS
        </div>
        <div class="sub-menu-item" routerLinkActive="selected-route" routerLink="selectors">SELECTORS</div>
        <div class="sub-menu-item" routerLinkActive="selected-route" routerLink="animations">ANIMATIONS</div>
        <div class="sub-menu-item" routerLinkActive="selected-route" routerLink="scss">SCSS</div>
        <div>
            <img class="logo" src="../assets/guildlogo.svg" alt="">
        </div>
    </div>
    <div class="col-md-10" style="font-size: 15px">
        <router-outlet></router-outlet>
    </div>
</div>