:host {
  .box-model {
    background-color: #ffa500;
    width: 80%;
    border: 25px solid #316492;
    border-radius: 2em;
    padding: 25px;
    margin: 25px;
  }

  .awesome-css {
    font-size: 2em;
    text-align: center;
    padding: 10px;
    border: solid 10px;
    border-color: blue;
    border-radius: 10px;
    background: yellow;
  }
}
