<div class="session-container">
    <a href="https://www.w3schools.com/cssref/css_units.asp">CSS Measurement Units Examples</a><br><br>
    pixels
    <div class="measurement" style="width:200px"></div>
    em Relative to the font-size of the element (10em means 10 times the size of the current font)
    <div class="measurement" style="width:10em"></div>
    rem Relative to font-size of the root element
    <div class="measurement" style="width:10rem"></div>
    vw Relative to 1% of the width of the screen view
    <div class="measurement" style="width:10vw"></div>
    vh Relative to 1% of the height of the screen view
    <div class="measurement" style="height:10vh"></div>
    % Relative to the parent element
    <div class="measurement" style="width:10%"></div>
    <br>
    Responsiveness in Bootstrap - the world’s most popular framework for building responsive web applications.
    <br>
    Bootstrap’s grid system uses a series of containers, rows, and columns to layout and align content. <br>
    <a href="http://getbootstrap.com/docs/4.1/components/alerts/">Additional Bootstrap Cool Features</a>
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row" style="margin-top: 4vh;">
        <div class="col-md-8 bootstrap">.col-md-8</div>
        <div class="col-md-4 bootstrap">.col-md-4</div>
    </div>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-md-4 bootstrap">.col-md-4</div>
        <div class="col-md-4 bootstrap">.col-md-4</div>
        <div class="col-md-4 bootstrap">.col-md-4</div>
    </div>

    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
        <div class="col-6 bootstrap">.col-6</div>
        <div class="col-6 bootstrap">.col-6</div>
    </div>
    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
        <div class="col-2 bootstrap">.col-2</div>
        <div class="col-2 bootstrap">.col-2</div>
        <div class="col-2 bootstrap">.col-2</div>
        <div class="col-2 bootstrap">.col-2</div>
        <div class="col-2 bootstrap">.col-2</div>
        <div class="col-2 bootstrap">.col-2</div>
    </div>
</div>